*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



#modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
   
    display: none;
}
.modal_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-body{
    height: 50%;
    min-height: 400px;
    width: 50%;
    min-width: 320px;
    max-width: 750px;
    background-color: whitesmoke;
    border-radius: 12px;
    padding: 16px;
    position: relative;
}

.modal-body .modal-img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #ccc;
}


.no_scroll{
    overflow: hidden;
}

.modal-close{
    position: absolute;
    right: 16px;
    border: none;
    color: white;
    padding: 4px;
    background-color: black;
    cursor: pointer;
}